<ul class="sidebar-list">

  <li class="sidebar-item">
    <%= link_to "Listing", listing_service_path, class:"sidebar-link active" %>
    <span class="pull-right text-babu"><i class="fa fa-check"></i></span>
  </li>

  <li class="sidebar-item">
    <%= link_to "Description", description_service_path, class:"sidebar-link active" %>
    <% if !@service.guide_name.blank? %>
      <span class="pull-right text-babu"><i class="fa fa-check"></i></span>
    <% end %>
  </li>



  <li class="sidebar-item">
    <%= link_to "Photos", photo_upload_service_path, class:"sidebar-link active" %>
    <% if !@service.photos.blank? %>
      <span id="photo_check" class="pull-right text-babu"><i class="fa fa-check"></i></span>
    <% end %>
  </li>

  <li class="sidebar-item">
    <%= link_to "Expertise Area", expertise_area_service_path, class:"sidebar-link active" %>
    <span class="pull-right text-babu"><i class="fa fa-check"></i></span>
  </li>

  <li class="sidebar-item">
    <%= link_to "Location", location_service_path, class:"sidebar-link active" %>
    <% if !@service.city.blank? %>
      <span class="pull-right text-babu"><i class="fa fa-check"></i></span>
    <% end %>
  </li>

  <li class="sidebar-item">
    <%= link_to "Pricing", pricing_service_path, class:"sidebar-link active" %>
    <% if !@service.price.blank? %>
      <span class="pull-right text-babu"><i class="fa fa-check"></i></span>
    <% end %>
  </li>

</ul>
<hr/>

<% is_ready = !@service.active && !@service.price.blank? && !@service.guide_name.blank? && !@service.photos.blank? && !@service.city.blank? %>

<%= form_for @service do |f| %>
  <%= f.hidden_field :active, value: true %>
  <%= f.submit "Publish", id: "publish_button", class: "btn btn-normal btn-block", disabled: !is_ready %>
<% end %>
